@import url('reset.css');
@import url('general.css');
.grid{
    display: grid;
}
.grid1{
    grid-template-areas: 
    "A B C"
  
}
#first_grid1{
    grid-area: A;
}
#second_grid1{
    grid-area: B;
  
}
#third_grid1{
    grid-area: C;
    
}
.grid2{
    grid-template-areas:
    "D D E"
    "M M E"
    "M M N"
    "M M V"
}
#first_grid2{
    grid-area: D;
}
#second_grid2{
    grid-area: E;

}
#third_grid2{
    grid-area: M;
}
#fourth_grid2{
    grid-area: N;

}
#fifth_grid2{
    grid-area: V;
}
.grid3{
    grid-template-areas:
    "F F G G  "
    "H I G G" ;
}
#first_grid3{
    grid-area: F;
}
#second_grid3{
    grid-area: G;
}
#third_grid3{
    grid-area: H;
}
#fourth_grid3{
    grid-area: I;
}
.grid4{
    grid-template-areas:
    "J J K "
    "O P K "
    "O Q K ";
}
#first_grid4{
    grid-area: J;
}
#second_grid4{
    grid-area: K;
}
#third_grid4{
    grid-area: O;
}
#fourth_grid4{
    grid-area: P;
}
#fifth_grid4{
    grid-area: Q;
}