@import url("reset.css");
@import url("general.css");
.flex_container{
    display: flex;
    
}
.flex1{
    flex:0 1 400px;

}
.flex2{
  flex:0 1 800px;  
}
.flex3{
    flex:0 1 600px;
}
.flex4{
    flex:0 1 300px;
}