@import url('reset.css');
@import url('general.css');
.grid{
    display: grid;
}
.grid1{
    grid-template-columns: repeat(3,auto);
}
.grid2{
    grid-template-columns: 800px 400px;
}
.grid3{
    grid-template-columns: 600px 600px;
}
.grid4{
    grid-template-columns: repeat(2,auto);
}
