html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    font-size: 48px;
    color: brown;
}



.text {
    text-align: center;
    margin: 0 8px;
    font-weight: 800;
}

div.main {
    margin: 0 auto;
    width: 1200px;
    background: rgba(219, 219, 219, 0.486);
    padding: 0 5px;


}

div.main>div+div {
    border-top: 2px dashed green;
}

p+p {
    color: blue;
}

#mainText {
    color: midnightblue;
    font-size: 90px;

}

.other {
    background-color: darkorange;
    width: 170px;
    padding: 0 5px;

}

a {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: green;
    margin: 8px 0;
}

.img_wrapper {
    display: inline-block;
    position: relative;
}

.img_plate_text {
    width: 100%;
    height: 70px;
    background-color: rgba(198, 211, 197, 0.693);
    position: absolute;
    top: 50%;
    margin-top: -35px;
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    color: brown;
    display: none;
}

.back {
    display: block;
    font-size: 20px;
}

.link_gallery {
    font-size: 20px;
}

.aside_menu_link {
    display: block;
    font-size: 25px;
    text-align: center;


}

.aside_menu {
    background-color: rgba(0, 255, 255, 0.459);
    height: 100px;
    position: fixed;
    left: 0;
    margin-top: -50px;
    top: 50%;
    border: none;
    width: calc(50vw - 605px);
}

.img_wrapper:hover .img_plate_text {
    display: block;
}

.first_block,
.grid1,
.grid1_areas {
    background: lightgreen;
}

.first_block>div+div+div,
.grid3,
.grid3_areas {
    background: lightpink;
}

.first_block>div+div,
.grid2,
.grid2_areas {
    background: lightcyan;
}

.second_block>div>div,
.grid4,
#first_grid2,
.grid4_areas {
    background: lightseagreen;
}

.second_block>div+div>div,
.grid5_areas,
#second_grid2 {
    background: lightyellow;
}

.second_block>div+div>div+div,
.grid7_areas,
#fourth_grid2 {
    background: lightgreen;
}

.second_block>div+div>div+div+div,
.grid8_areas,
#fifth_grid2 {
    background: lightskyblue;
}

.second_block,
.second_block>div>div+div,
.grid6_areas {
    background: lightsalmon;
}

.third_block>div>div,
.grid9_areas,
#first_grid3 {
    background: lightskyblue;
}

.third_block,
.grid10_areas,
.second_grid3 {
    background: lightslategray;
}

.third_block>div>div>div,
.grid11_areas,
#third_grid3 {
    background-color: lightgrey;
}

.third_block>div>div>div+div,
.grid12_areas,
#fourth_grid3 {
    background-color: lightcoral;
}

.fourth_block>div,
.grid13_areas {
    background: lightblue;
}

.fourth_block,
.fourth_block>div+div,
.grid14_areas {
    background: lightyellow;
}

.fourth_block>div>div+div,
.grid15_areas,
#third_grid4 {
    background: lightgreen
}

.fourth_block>div>div+div>div+div,
.grid16_areas,
#fourth_grid4 {
    background: lightseagreen;
}

.fourth_block>div>div+div>div+div>div+div,
.grid17_areas,
#fifth_grid4 {
    background: lightpink;
}

.width1 {
    width: 400px;

}

.width2 {
    width: 800px;
}

.width3 {
    width: 600px;
}

.width4 {
    width: 300px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    font-size: 25px;
}

.t_cell {
    display: table-cell;
}

.inline_block {
    display: inline-block;
    font-size: 25px;

}

.parent {
    font-size: 0;
}

.vertical {
    vertical-align: top;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;

}

.float_left {
    float: left;
}

.clr {
    clear: both;
}

.flex_container {
    display: flex;

}

.flex1 {
    flex: 0 1 400px;

}

.flex2 {
    flex: 0 1 800px;
}

.flex3 {
    flex: 0 1 600px;
}

.flex4 {
    flex: 0 1 300px;
}

.grid {
    display: grid;
}

.grid_wrapper {
    display: grid;
    grid-template-areas:
        "U U U U U U U U U U U U"
        "A A A A B B B B C C C C"
        "D D D D D D D D E E E E"
        "F F F F F F F F E E E E"
        "F F F F F F F F G G G G"
        "F F F F F F F F H H H H"
        "I I I I I I J J J J J J"
        "K K K L L L J J J J J J"
        "M M M M M M M M N N N N"
        "O O O O P P P P N N N N"
        "O O O O Q Q Q Q N N N N";
    margin: 0 auto;




}

.nav_grid {
    grid-area: U;
}

.grid1_areas {
    grid-area: A;
}

.grid2_areas {
    grid-area: B;
}

.grid3_areas {
    grid-area: C;
}

.grid4_areas {
    grid-area: D;
}

.grid5_areas {
    grid-area: E;
}

.grid6_areas {
    grid-area: F;
}

.grid7_areas {
    grid-area: G;
}

.grid8_areas {
    grid-area: H;
}

.grid9_areas {
    grid-area: I;
}

.grid10_areas {
    grid-area: J;
}

.grid11_areas {
    grid-area: K;
}

.grid12_areas {
    grid-area: L;
}

.grid13_areas {
    grid-area: M;
}

.grid14_areas {
    grid-area: N;
}

.grid15_areas {
    grid-area: O;
}

.grid16_areas {
    grid-area: P;
}

.grid17_areas {
    grid-area: Q;
}

.grid1_clr {
    grid-template-areas:
        "A B C"

}

#first_grid1 {
    grid-area: A;
}

#second_grid1 {
    grid-area: B;

}

#third_grid1 {
    grid-area: C;

}

.grid2_clr {
    grid-template-areas:
        "D D E"
        "M M E"
        "M M N"
        "M M V"
}

#first_grid2 {
    grid-area: D;
}

#second_grid2 {
    grid-area: E;

}

#third_grid2 {
    grid-area: M;
}

#fourth_grid2 {
    grid-area: N;

}

#fifth_grid2 {
    grid-area: V;
}

.grid3_clr {
    grid-template-areas:
        "F F G G  "
        "H I G G";
}

#first_grid3 {
    grid-area: F;
}

#second_grid3 {
    grid-area: G;
}

#third_grid3 {
    grid-area: H;
}

#fourth_grid3 {
    grid-area: I;
}

.grid4_clr {
    grid-template-areas:
        "J J K "
        "O P K "
        "O Q K ";
}

#first_grid4 {
    grid-area: J;
}

#second_grid4 {
    grid-area: K;
}

#third_grid4 {
    grid-area: O;
}

#fourth_grid4 {
    grid-area: P;
}

#fifth_grid4 {
    grid-area: Q;
}

.grid1 {
    grid-template-columns: repeat(3, auto);
}

.grid2 {
    grid-template-columns: 800px 400px;
}

.grid3 {
    grid-template-columns: 600px 600px;
}

.grid4 {
    grid-template-columns: repeat(2, auto);
}

.nav_menu {
    font-size: 0;
    text-align: center;
    position: relative;
    z-index: 5;
}

.nav_menu>li {
    display: inline-block;
    border-right: 2px solid green;
    font-size: 48px;

}

.nav_menu li:last-child {
    border: 0;

}

li>a {
    display: block;
}

.nav_menu a {
    color: black;

}

.nav_menu li {
    background: rgb(177, 144, 144);
}

.nav_menu li>a {
    padding: 13px 20px 5px 20px
}

.nav_menu li>.icons {
    padding: 13px 20px 5px 55px;

}

.nav_menu li>.af {
    padding: 13px 55px 5px 20px;
}

.nav_menu a:visited {
    color: black;
}

.nav_menu_block {
    position: relative;
}

.nav_menu_block>ul {
    padding: 25px 0;
    top: 100%;
    right: -100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;

}

.nav_menu>li:hover>ul {
    transition: all 1s cubic-bezier(0.8, 1.04, 0.92, 0.64);
    opacity: 100%;
    pointer-events: all;
    right: 0;
}

.nav_menu_block li {
    border-bottom: 2px solid green;

}

.nav_menu_block_float {
    position: relative;

}

.nav_menu_block_float>ul {
    position: absolute;
    right: 100%;
    bottom: 0;
    padding: 0 25px;
}

.nav_menu_block_grid {
    position: relative;

}

.nav_menu_block_grid>ul {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0 25px;
}

.nav_menu_block>ul>li>ul {
    height: 0;
    overflow: hidden;
    opacity: 50%;
}

.nav_menu_block>ul>li:hover>ul {
    transition: all 1s ease-out;

    opacity: 100%;
}

.nav_menu_block>ul>li>ul {
    transition: opacity .5s ease,
        height .5s ease-out .5s;

}

.nav_menu_block>ul>li>ul:hover {
    overflow: visible;
}

/* Дальше обращения для каждого списка отдельно ,для корректности анимации ,со скриптом разбираюсь ,чтобы работал универсально */
.nav_menu_block_grid:hover>ul {
    height: calc(300% + 4px);
}

.nav_menu_block_float:hover>ul {
    height: calc(200% + 2px);
}

.social_menu {
    font-size: 0;
    text-align: center;
    padding: 40px 0 0 0;
}

.social_menu li {
    display: inline-block;
    margin: 0 10px;
}

.social_menu>li a,
.icons::before,
.call::after,
.call_link {
    width: 50px;
    height: 50px;
    background: url('../img/css_sprites.png');
}

.social_menu>.git>a {
    background-position: -50px 0;
}

.social_menu>.inst>a {
    background-position: -100px 0;
}

.social_menu>.bnet>a {
    background-position: -150px 0;
}

.social_menu>.tg>a:hover {
    background-position: 0 -50px;
}

.social_menu>.git>a:hover {
    background-position: -50px -50px;
}

.social_menu>.inst>a:hover {
    background-position: -100px -50px;
}

.social_menu>.bnet>a:hover {
    background-position: -150px -50px;
}

.nav_menu li a {
    position: relative;
}

.icons:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 0;

}

.af:before {
    left: auto;
    right: 0;
}

.nav_menu>li>a.home:before {
    background-position: 0 -100px;
}

.nav_menu>li>a.gallery:before {
    background-position: -50px -100px;
}

.nav_menu>li>a.blocks::before {
    background-position: -150px -100px;
}

.nav_menu>.nav_menu_block:hover>.blocks:before {
    background-position: -100px -100px;
}

a.float::before {
    background-position: -200px -100px;
}

.nav_menu_block_float:hover>a.float:before {
    background-position: -250px -100px;
}


a.grids::before {
    background-position: -250px -100px;
}

.nav_menu_block_grid:hover>a.grids:before {
    background-position: -200px -100px;
}

.call {
    position: fixed;
    background: rgba(172, 255, 47, 0.623);
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    transition: all .5s linear;
    padding: 10px 0;

}

.call::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: -250px -100px;
}

.call_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    background-position: 0 -150px;

}

.call:hover {

    transform: translate(0,-50%);

}

.call:hover .call_link {

    animation: circle .5s linear infinite alternate .5s;

}
.call:hover::after {
    background-position: -200px -100px;
    

}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}
.honeycomb{
display: grid;
 grid-template-columns: repeat(2 ,60px);
 transform: rotate(45deg) scale(0,2);
 z-index: 10;
 margin: 0 0 0 20px;
 transition: all 1s ease;
}
.honeycomb li>a {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
   background: lightblue;
}
.honeycomb li>a:hover{
    background: rgb(96, 169, 194);

}
.honeycomb li{
    margin: 0 0 10px 0;
}
.disc a:before {
    background-position: 0 -200px;

}
.mail a:before {
    background-position: -50px -200px;
}
.fb  a:before{
    background-position: -100px -200px;
}
.steam  a:before{
    background-position: -150px -200px;
}
.honeycomb a::before{
    transform: rotate(-45deg);
}
.hover_me{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(170px,-50%);
    width:220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .5s ease 2.5s;
    
}
.hover_me p{
    position: relative;
    font-size: 50px;
    writing-mode: vertical-lr;
   transform: rotate(180deg) ;
    background: rgb(138, 186, 235);
    animation: pulse .5s linear infinite alternate 7s,alarm .5s linear infinite alternate-reverse ;
    margin: 0;
    perspective: 200px;
    z-index: 5;
    

}
.hover_me div{
    margin: 0 0 0 20px;
}
.hover_me:hover{
    transform: translate(0,-50%);
    transition: all .5s ease ;
}
.hover_me:hover p{
    animation: none;
   
}

@keyframes pulse {
    0% {
  transform:perspective(200px) translateZ(0px) rotate(180deg);

    }

    100% {
        transform:perspective(200px) translateZ(20px) rotate(180deg) ;
    
    }
    
}
@keyframes alarm {
    0% {

        background: rgb(138, 186, 235);
    }

    100% {
        background: rgb(243, 59, 59);
    }
    
}
    

.hover_me p::before{
    content: 'Hover me!';
    text-align: center;
    position: absolute;
    background-color: crimson;
    width: 100%;
    height: 100%;
   transform-origin: left center;
  transition: transform 0.5s linear 2s,width 1s linear 1s,color 2s linear 2.5s;
  top: 0;

}
.hover_me:hover p::before{
    transition: transform 0.5s linear 1s,width 1s linear 1.5s;
   transform: rotateY(-0.5turn);
   width: 170px;
  color: crimson;
 

}
.hover_me:hover .honeycomb{
    transition: all 1s ease 2.5s;
    transform: rotate(45deg) scale(1,1);
}
.links{
    text-align: center;
    padding-top: 20px;
    font-size: 48px;
}
.links a{
    color: lawngreen;
    display: block;
}
.links a:visited{
    color: lawngreen;
}
.tools{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 padding-top: 100px;
    background: yellow;
}
.tools div{
    margin:0 0  150px  0;
}
.wrapper_p{
    width: 800px;
    margin: 0 auto;
}
.bolt{
height: 50px;
width: 350px;
background: linear-gradient(135deg,
      grey 50%, rgb(82, 81, 81) 50%,rgb(82, 81, 81) 60%,grey 60%,grey 70%,rgb(82, 81, 81) 70% 
      ,rgb(82, 81, 81) 70%,rgb(82, 81, 81) 80%,grey 80%,grey 90%,rgb(82, 81, 81) 90%);
position: relative;
transform: translateX(35px);
}
.bolt::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 200%;
    background-color: gray;
    top: 70%;
    right: 90%;
    border-bottom-left-radius: 50%;
 

}
.bolt::after{
    position: absolute; 
    content: '';
    width: 20%;
    height: 200%;
    background-color: gray;
    bottom: 70%;
    right: 90%;
    border-top-left-radius: 50%;
}
.screw{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

  .screw::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background-image: radial-gradient(circle , transparent 20%,gray 20%);




 
  }
.tool{
    width: 500px;
    height: 50px;
    background:radial-gradient(circle at 95% 50%, transparent 3%,gray 3%);
    border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  }
  .tool::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
right: 90%;
top: 50%;
transform: translate(0,-50%);
border-radius: 50%;
border-top-left-radius: 30%;
border-bottom-left-radius: 30%;
border-bottom: 50px solid gray;
border-right: 50px solid gray;
border-top: 50px solid gray;
  }
  .tool_rotate{
    transform: translateX(50px) rotate(25deg);
    transform-origin: 0 0;
  }

.boat_scene{
    width: 100%;
 height: 900px;
    position: relative;
    overflow: hidden;
    background: rgb(127, 229, 255);  
    animation: sky 15s linear infinite running;
}
.sea{
    position: absolute;
    width: 50%;
    bottom: 0;;
    left:50%;
    transform: translate(-50%,0);
  border-bottom: 300px solid lightseagreen;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  z-index: 10;
}
.boat{
    position: relative;
    width: 400px;
    height: 50px;
    background: rgb(146, 112, 68);
    animation: shake .5s linear infinite alternate-reverse;
    perspective: 200px;
}
.boat_position{
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}
.boat::before{
    content: '';
    position: absolute;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 80px solid transparent;
    border-right:80px solid rgb(146, 112, 68);
    right: 100%;
   bottom: 100%;
 transform: translate(0,50px);


}
.boat::after{
    position: absolute;
    content: '';
    width: 30%;;
    left: 100%;
    bottom: 0;
    border-bottom: 50px solid  rgb(146, 112, 68);
    border-left: 20px solid transparent;
    transform-origin: 0 100%;
  transform: rotate(-45deg);
  

}
.shield_group{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    transform: translate(0,-50%);
    position: relative;
    z-index: 10;
}
.shield{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(192, 152, 99);
}
.shield01{
    box-shadow: 0px 0px 0px 20px rgba(95,  255,  0, 0.5) inset,
    0px 0px 0px 10px rgba(0,  167,  255, 0.5) inset;
}
.shield02{
    box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, 0.5) inset,
    0px 0px 0px 10px rgba(255, 174, 0, 0.5) inset;
}
.shield03{
    box-shadow: 0px 0px 0px 20px rgba(255, 0, 221, 0.5) inset,
    0px 0px 0px 10px rgba(0, 17, 255, 0.5) inset;
}
.tower{
    width: 5px;
    height: 430px;
    background:  rgb(88, 67, 39);
    position: absolute;
    left: 50%;
    bottom:100%;
    transform: translate(-50%);
    z-index: 5;
}
.sail{
    width: 250px;
    height: 430px;
    position: absolute;
    left: 50%;
    bottom:100%;
    transform: translate(-50%);
    z-index: 5;
border-radius: 50%;
border-left: 80px solid crimson;
animation: wind 1s linear infinite alternate-reverse;

}
.sail_back{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 100%;
    bottom:100%;
    transform:translate(-130%,-20%) rotate(45deg);
    z-index: 5;
    background:radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0) 70%,green 70%);
  

}
.waves_group{
    position: absolute;
z-index: 15;
animation: way .3s linear infinite reverse;
bottom:10%;
left: 50%;
transform: translateX(-50%);
display: flex;
flex-direction: row;
}

.waves{
    position: relative;
    width: 100px;
    height: 30px;
  }
  .waves:before,
  .waves:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: linear-gradient(180deg, rgba(32, 178, 171, 0.356) 0%, lightseagreen 50%);
    border-radius: 40% 40% 0 0;
    transform-origin: 0 100%;
  }
  .waves:after {
    left: 0;
    transform-origin: 100% 100%;
  }

.flag{
    position: absolute;
    width: 50px;
    height: 0;
   border-bottom: 40px solid red;
   border-top: 40px solid red;
   border-right: 40px solid transparent;
   left: 50%;
   bottom: 100%;
   transform: translate(3px,-350px);
   animation: flag 1s linear infinite alternate-reverse;
   transform-origin: 0 left;
  
}

.cloud{
    top: 20%;
    right: 30%;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgb(245, 245, 245);
    box-shadow: 50px 0px 0px 0px rgb(245, 245, 245),
    50px -50px 0px 0px rgb(245, 245, 245),100px 0px 0px 0px rgb(245, 245, 245),
    0px 0px 0px 0px rgb(245, 245, 245);
z-index: 10;
}
.sun{
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background: gold;
    z-index: 5;
    box-shadow: 0px 0px 25px 18px rgba(255, 217, 0, 0.723);
    animation: shine 15s linear infinite running;
}
.moon{
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background: rgb(248, 247, 239);
    z-index: 5;
    box-shadow: 0px 0px 25px 18px rgba(253, 251, 241, 0.723);
    animation: shinemoon 2s linear infinite running;
}

.sky_body{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    animation: change 15s linear infinite ;
}
@keyframes change {
    0%{
        transform: translateX(-50%)rotate(0);
    }
    20%{
        transform: translateX(-50%)rotate(0);
    }
    40%{
        transform: translateX(-50%)rotate(0);
    }
    60%{
        transform: translateX(-50%)rotate(0.5turn);
    }
    80%{
        transform: translateX(-50%)rotate(0.5turn);
    }
    100%{
        transform: translateX(-50%)rotate(1turn);
    }
    
}


@keyframes shine {
    0%{
        background: gold;
        box-shadow: 0px 0px 25px 18px rgba(255, 217, 0, 0.723);
      
    }
    20%{
        background: gold;
        box-shadow: 0px 0px 25px 18px rgba(255, 217, 0, 0.723);
      
    }
    40%{
        background: gold;
        box-shadow: 0px 0px 25px 18px rgba(255, 217, 0, 0.723);
      
    }
    60%{
        background: rgb(255, 102, 0);
        box-shadow: 0px 0px 25px 30px rgba(255, 94, 0, 0.723); 
      
    }
    80%{
      
        background: rgb(255, 102, 0);
        box-shadow: 0px 0px 25px 30px rgba(255, 94, 0, 0.723); 
      
    }
    100%{
        background: gold;
        box-shadow: 0px 0px 25px 18px rgba(255, 217, 0, 0.723);
    }
    
  }
  @keyframes shake {
    0%{
        transform:rotate(2deg);  
    }
    100%{
        transform: rotate(-2deg);
    }
    
  }
  @keyframes sky {
    0%{
       background: rgb(127, 229, 255);  
    }
    20%{
        background: rgb(127, 229, 255);  
    }
    40%{
        background: rgb(127, 229, 255);  
    }
    50%{
        background: rgb(255, 195, 127);   
    }
    55%{
        background: rgb(255, 195, 127);   
    }
    60%{
        background: rgb(14, 13, 75); 
    }
    80%{
        background: rgb(14, 13, 75);
    }
    100%{
         background: rgb(127, 229, 255);  
    }
    
  }
  @keyframes way {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-53%);
    }
  }
  @keyframes wind {
    0%{
        border-left: 80px solid crimson;
    }
    100%{
        border-left: 100px solid crimson;
    }
    
  }
  @keyframes flag {
    0%{
        transform: translate(3px,-350px)rotateY(2deg);
    }
    100%{
        transform: translate(3px,-350px)rotateY(-2deg);
    }
    
  }
  label{
    cursor: pointer;
  }
  input{padding: 0;
  font-size: 45px;}
  .first_wrapper{
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
  }
  .first_wrapper::before{
   content: '';
   position: absolute;
   width: 50px;
   height: 50px;
 background: url('../img/css_sprites.png') 0 -250px;
   z-index: 10;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
  }
  .first_wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: white;
    z-index: 5;
   }
  #select{
    display: block;
      font-size: 45px;
      appearance: none;
      position: relative;
      padding-right: 50px;
      z-index: 15;
      background: transparent;
  }
  #select::-ms-expand {
      display: none;
    }
    #select2{
      font-size: 45px;
      appearance: none;
      padding-right: 50px;
      background: transparent;
      position: relative;
      z-index: 10;
  }
  #select2::-ms-expand {
      display: none;
    }
    .select_wrapper{
      position: relative;
      background-color: white;
      display: inline-block;
      margin-bottom: 50px;
    }
    .star_wrapper{
      position: absolute;
      z-index: 5;
      right: 0;
      top: 55%;
      transform: translateY(-50%);
    }
    .star {
      height: 0; 
      width: 0;
      position: relative;
      border-right: 24px solid transparent;
      border-bottom: 18px solid #E7337A;
      border-left: 25px solid transparent;
      transform: rotate(35deg);
      }
      .star:before, 
      .star:after {
      content: "";
      height: 0; 
      width: 0;
      position: absolute;
      }
      .star:before {
      top: -13px; 
      left: -18px;
      border-bottom: 20px solid #E7337A;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      transform: rotate(-35deg);
      }
      .star:after {
      top: 1px; 
      left: -27px;
      border-right: 24px solid transparent;
      border-bottom: 18px solid #E7337A;
      border-left: 25px solid transparent;
      transform: rotate(-70deg);
      }
      input[type="text"]::placeholder{
      color: #E7337A;
      font-style: italic;
      }
      input[type="text"]:-ms-input-placeholder{
        color: #E7337A;
        font-style: italic;
        }
      input[type="text"]{
        margin-bottom: 50px;
        display: block;
    
      }
      .switcher{
        margin-bottom: 50px;
      }
     .on{
      display: none;
     }
     input[type='checkbox']:checked+label>.on{
      display: inline-block;
     }
     input[type='checkbox']:checked+label>.off{
      display: none;
     }
     input[type="checkbox"]{
      display: none;
     }
     label{
      position: relative;
      font-size: 45px;
      padding: 0 80px 0 90px;
     }
     label::before{
      content: '';
      position: absolute;
      width: 70px;
      height: 35px;
      border-radius: 15px;
      background: white;
      right: 0;
      top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
  
     }
     label::after{
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: rgb(9, 255, 0);
      right: 70px;
      top: 50%;
    transform: translate(100%,-50%);
    transition: all .3s linear;
     }
  
  label>span{
    position: absolute;
    left: 0;
    top: 0;
  }
  input[type='checkbox']:checked+label::before{
    background-color: black;
  
   }
   input[type='checkbox']:checked+label::after{
    background: rgb(0, 37, 248);
    right: 0;
    top: 50%;
  transform: translate(0,-50%);
   
   }
   .wrapper_number{
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
   }
   .wrapper_number::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 50px;
  background: url('../img/css_sprites.png') -50px -250px;
  background: -moz-linear-gradient(180deg, white 50%,white 50%);
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
   }
   .wrapper_number::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top:0;
    z-index: 5;
   }
   input[type="number"]{
    position: relative;
    left: 0;
    z-index: 15;
   background: transparent;
   }
   input[type="number"]:hover{
    background: -moz-linear-gradient(180deg, white 50%,white 50%);
   }
   input[type='number']::-webkit-inner-spin-button
   { 
     -webkit-appearance: none;  
       display: block;
          width: 20px;}
  
  
  
  
          .wrapper_form{
            width: 800px;
            margin: 0 auto;
            background: gray;
            padding: 20px;
          }
     input[type='submit']{
      padding: 10px;
     }